= form_tag :controller => 'answers', :action => 'create' do

  - @survey.questions.each do |question|

    .panel.panel-info
      .panel-heading
        %h4.panel-title
          %strong= "#{question.short_title}:"
          = question.title
      .panel-body
        %span.radio-inline Strongly Disagree
        - (1..5).each do |i|
          = radio_button_tag question.id, i, false, class: 'radio-inline'
        %span.no-left-pad.radio-inline Strongly Agree

  = submit_tag "Submit"
