Answers#New
%br
= @survey.inspect

= form_tag :controller => 'answers', :action => 'create' do

  %ul
    - @survey.questions.each do |question|
      %li
        = question.inspect
        - 5.times do |text|
          = radio_button_tag question.id, text

    %li= submit_tag
