%h3
  Survey: #{@survey.slug}

%h4
  Started #{distance_of_time_in_words_to_now(@survey.created_at)} ago

- if @survey.expiration
  %h4
    - if @survey.expired?
      Ended #{distance_of_time_in_words_to_now(@survey.expiration)} ago
    - else
      Ends in #{distance_of_time_in_words_to_now(@survey.expiration)}

- if cookies[@survey.slug]
  %h4
    You took this survey #{distance_of_time_in_words_to_now cookies[@survey.slug]} ago

.survey_chart
  %svg

- @survey.questions.each do |question|
  - stats = question.stats(@survey)
  .panel.panel-info
    .panel-heading
      %h4.panel-title= "#{question.short_title}: #{question.title}"
    .panel-body
      %dl.dl-stats.dl-horizontal
        %dt Responses
        %dd= stats[:number].to_i
        %dt Median
        %dd= stats[:median]
        %dt Mean
        %dd= "%0.2f" % stats[:mean] if stats[:mean]

-#.historical_chart
  -#%svg

:coffeescript
  $ ->
    d3_data = #{transform_responses_d3(@survey, @survey.answers, @survey.questions).to_json}
    window.chartify d3_data, '.survey_chart svg'
