!!!
%html
  %head
    %title Pulse
    = csrf_meta_tags
    = action_cable_meta_tag

    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css'
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css'
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = favicon_link_tag
  %body
    = render 'layouts/header'
    .container
      = yield
    = render 'layouts/footer'
